{{define "title"}}
  DatabaseManager | DB一覧
{{end}}

{{define "body"}}
    <h1 class="my-3 ml-3">データベース一覧</h1>
    <div class="col-5 ml-3">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>データベース名</th>
            <th>概要</th>
          <tr>
        </thead>
        <tbody>
          {{range .databases}}
          <tr>
            <td><a href="/database/{{.ID}}/tables">{{.Name}}</a></td>
            <td>{{.Description}}</td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </div>
{{end}}