{{define "title"}}
  DatabaseManager | テーブル一覧
{{end}}

{{define "body"}}
    <h1 class="my-3 ml-3">{{.database.Name}}データベース - テーブル一覧</h1>
    <div class="col-5 ml-3">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>テーブル名</th>
            <th>概要</th>
          <tr>
        </thead>
        <tbody>
          {{range .tables}}
          <tr>
            <td><a href="/database/{{$.database.ID}}/table/{{.ID}}">{{.Name}}</a></td>
            <td>{{.Description}}</td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </div>
{{end}}